@page "/customers/customerList/{customerAdded?}"
@inherits CustomerListBase

@if (Customers == null)
{
    <div class="spinner"></div>
}
else
{
    <h3 class="text-center mt-3 mb-3">Customer List</h3>
    <h3 class="text-center text-primary"><b>@CustomerAdded</b></h3>
    <hr />
    <div class="mb-5 mt-5">
        <a href="/customers/editCustomer" class="btn btn-primary" style="width:auto">Add a New Customer</a>
    </div>
    <TableTemplate Items="Customers">
        <TableHeader>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Phone Number</th>
            <th></th>
        </TableHeader>
        <RowTemplate Context="customer">
            <td>@customer.Email</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.Address</td>
            <td>@customer.City</td>
            <td>@customer.StateNavigation.StateName</td>
            <td>@customer.ZipCode</td>
            <td>@customer.PhoneNumber</td>
            <td>
                <a href="@($"/customers/customerDetail/{customer.Email}")">Detail</a>
                <a href="@($"/customers/editcustomer/{customer.Email}")">Edit</a>
                <a href="@($"/customers/deletecustomer/{customer.Email}")">Delete</a>
            </td>
        </RowTemplate>
    </TableTemplate>
}
